body {
    margin: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7e7e7e;
    padding: 15px 40px;
}

.navbar .logo {
    width: 140px;
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 25px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}

.navbar ul li a:hover,
.link_ativ {
    color: #FFD700;
}
