body {
    margin: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar .logo {
    width: 140px;
    height: auto;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    max-width: 900px;
    justify-content: center;
}

.navbar ul li {
    margin: 0;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 10px;
    font-family: "Archivo Black", sans-serif;
    border-radius: 6px;
    transition: 0.3s ease;
}

.navbar ul li a:hover,
.link_ativ {
    color: #e76801;
    text-shadow: 0 0 8px #e76801;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 30px 0px 40px 0px;
}

.titulo h1 {
    color: #e76801;
    font-weight: 500;
    margin: 0%;
    font-family: "Archivo Black", sans-serif;
    margin-bottom: 10px;
}

    .titulo h2 {
        color: gray;
        font-weight: 400;
        margin: 0%;
    }

.areaCards {
    padding: 40px 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.card {
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 350px;
    text-align: center;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}

img {
    width: 180px;
    border-radius: 20%;
    margin: 0%;
    box-shadow: 0 0 20px black;
}

h1 {
    color: #e76801;
    margin: 10px 0 10px 0px;
}

p {
    color: rgb(190, 190, 190);
    margin: 0%;
}

.card:hover {
    box-shadow: 0 0 15px #e76801;
    transition: 0.3s ease;
}

.secao {
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 0 20px #e76801aa;
    padding: 35px;
    background: #111;
    border-radius: 15px;
}

.subtitulo {
    font-family: "Archivo Black";
    color: #e76801;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.paragrafo {
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}