Logo - https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTb6hT87VYKBrlHYFaZL_hL6rfU9lvXHCZXVA&s

Banner - https://www.deathsdoorprods.com/wp-content/uploads/naruto-wallpapers-dimensi-n-anime-naruto-shippuden-nueva-pel-cula-para-el1.jpg

Naruto - https://static.wikia.nocookie.net/naruto/images/3/33/Naruto_Uzumaki_%28Parte_I_-_HD%29.png/revision/latest/scale-to-width/360?cb=20160316113315&path-prefix=pt-br

Sakura - https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCsw1jZOTmtGiH1vpfNhUSgsTq3oQvH3mnIQ&s

Kakashi - https://static.wikia.nocookie.net/naruto/images/c/ca/Kakashi_Hatake_%28Infobox_-_Naruto%29.PNG/revision/latest?cb=20221012051237&path-prefix=pt-br

Sasuke - https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3d89u-ri3fJJxnLO2ThNGyfLz1Tbz-uVPmg&s

img historia - https://images.justwatch.com/poster/306057903/s718/naruto-shippuden.jpg

Banner akatsuki - https://geekproject.com.br/wp-content/uploads/2025/02/image-93.png

img cultura - https://i.redd.it/zm4bbn8ue86b1.jpg